<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MyConnectionString" connectionString="workstation id=CAFESCOR.mssql.somee.com;packet size=4096;user id=CAquino_SQLLogin_1;pwd=rjhc3cgxqo;data source=CAFESCOR.mssql.somee.com;persist security info=False;initial catalog=CAFESCOR;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\CAFESCOR.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
